/* You can add global styles to this file, and also import other style files */

.container {
    min-width: 600px;
}

.column {
    display: inline-block;
    padding-top: 5px;
    margin: auto;
    width: 100%;
}

.column div {
    padding: 2px 7px;
}

.column .column-header {
    font-weight: bold;
    padding-bottom: 6px;
}

#search-field {
    margin-bottom: 15px;
}

#user-table {
    display: flex;
}

.row-cell{
    cursor: pointer;
}

.highlightedRow {
    background-color: #ececec;
}
