/* You can add global styles to this file, and also import other style files */


.container {
    min-width: 600px;
}

#user-table {
    padding-left: 30px;
}

.row {
    width: 100%;
    display: flex;
    cursor: pointer;
    z-index: 10;
}

.column {
    display: inline-block;
    padding-top: 5px;
    min-width: 200px;
    margin: auto;
}

.column div {
    padding: 2px 7px;
}

.column .column-header-text {
    font-weight: bold;
    padding-bottom: 6px;
}

.hidden-subtable {
    width: 100%;
    max-width: 910px;
    font-size: 10px;
    padding: 0 20px;
    margin: auto;
    z-index: 0;
}

.hidden-subtable .row {
    cursor: default;
}

.hidden-subtable .column {
    min-width: 100px;
    max-width: 110px;
    text-align: center;
    padding: 0;
}

.hidden-subtable .column div {
    padding: 0;
}

.highlightedRow {
    background-color: #ececec;
}

#search-field {
    margin-bottom: 15px;
}

.header-row {
    cursor: default;
}
