<!--

<div id="user-table">

	<div *ngFor="let column of columns" class="column">

		<div class="column-header">{{column.name}}</div>

		<div *ngFor="let user of users; let i = index" class="row-cell"
			 [class.highlightedRow]="i === highlightedRow"
			 (mouseover)="highlightedRow = i"
			 (mouseout)="highlightedRow = -1"
		>

			{{user[column.property]}}

		</div>

	</div>

</div>


<button appExample>Button</button>

-->


<div id="user-table">

	<div class="row" id="header-row">
		<div *ngFor="let column of columns" class="column">
			<div class="column-header-text">{{column.name}}</div>
		</div>
	</div>

	<div *ngFor="let user of users; let i = index" class="row"
		 [class.highlightedRow]="i === highlightedRow"
		 (mouseover)="highlightedRow = i"
		 (mouseout)="highlightedRow = -1"
		 [collapsibleDetailRow]="user" [collapsibleDetailRowTpl]="expandedRowTpl"
		 (toggleChange)="onToggleRow($event)"
	>
		<div *ngFor="let column of columns" class="column">
			<div>{{user[column.property]}}</div>
		</div>
	</div>

</div>


<!--   Hidden Subtable    -->
<ng-template #expandedRowTpl let-this>
	<div [@detailExpand]>

		<!--   Subtable header row    -->
		<div class="mini-row  subtable-header-row">
			<div *ngFor="let subtableColumn of subtableColumns"
				 class="cell"
			>
				{{subtableColumn.name}}
			</div>
		</div>
		<!--  / Subtable header row   -->


		<!--   Subtable data row    -->
		<div *ngFor="let row of thisRow.rows; let rowID = index;" title="Click for rates"
			 class="mini-row subtable-data-row"
			 [class.highlightedRow]="highlightedSubtableRow === rowID"
			 (mouseover)="highlightRow('highlightedSubtableRow',rowID)"
		>

		</div>
		<!--  / Subtable data row   -->

	</div>
</ng-template>
<!--  / Hidden Subtable    -->
